/* Navbar */

.navbar-brand{
  font-size: 30px;
  font-family: "Courier Prime";
  font-weight: 400;
}

/* Quienes Somos*/

#QuienesSomos{
  color: #000000;
  background-color: #ffffff;
}

#QuienesSomos h4, #QuienesSomos div:last-child{
  background-color: #ffffff;
  font-family: "Courier Prime";
  line-height: 2;
}

#QuienesSomos h4{
   font-weight: 400;
}

/*Azul-Section*/
#Azul-Section{
  background-color: #ff00b3;
  color:#ff00b3;
}

/* Destacados*/

#Destacados{
  background-color: #000000;
}

#Destacados div h4{
  font-weight: 400;
  font-family: "Courier Prime";
}

/* Contacto */

#Contacto{
  background-color: #000000;
}

#Contacto div h4{
  font-family: "Courier Prime";
}

/* Footer */

#Footer h1{
  font-family: "Courier Prime";
}
